body{
	background-color: rgb(127, 127, 226);
	font-size: 18px;
	font-weight: 600;
	background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(70,190,252,0.34506302521008403) 15%);
}
header{
	text-align: center;
}

h2{
	text-align: center;
}
main img{
	margin-left: 20px;
	border-radius: 10px;
}