
@import url("fonts.css");
@import url("reset.css");

body{
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7D7D7D;
	margin: 0 50px;
	background-image: url("../img/pattern.png");
	background-attachment: fixed;
	padding: 50px;
	/* background-size: cover; */
}
.header{
	min-height: 50px;
	max-height: 100px;
	font-size: 24px;
	padding-top: 10px;
	text-align: center;
	font-weight: 600;
	background-image: linear-gradient(90deg, rgb(187, 108, 23) 25%, #284eca 100%);
	border-radius: 10px;
	outline: #140901 solid 4px;
}



.start{
	background-color: blueviolet;
	background-image: linear-gradient(180deg, #9c501e 25%, #3aff4a 50%, #27127d 100%);
	/* background-color: transparent; */
	height: 300px;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	margin: 10px auto;
	padding: 50px;
	border-radius: 55px 0px 55px 0px;
	outline: #ca2843 dashed 3px;
}
.celica{
	max-width: 900px;
	padding: 35px;
	background-image: url("../img/toyota_celica.jpg");
	background-repeat: no-repeat;
	background-position: 50%;
	margin: 0 auto;
	border-radius: 100px;
	margin-bottom: 50px;
}
.toyota{
	height: 2000px;
	background:
	url("../img/mashynka_top_vue.png") 27% 200px / 100px no-repeat fixed,
	url("../img/mashynka_top_vue.png") 49% 800px / 100px no-repeat fixed,
	url("../img/mashynka_top_vue.png") 71% 400px / 100px no-repeat fixed,
	url("../img/mashynka_top_vue.png") 93% 0px / 100px no-repeat fixed,
	url("../img/toyota_lc_250.png");
	/* background-position: center; */
	/* background-attachment: fixed; */
	/* background-size: 25% auto; */
	margin-bottom: 25px;
	border-radius: 15px;
}
.contain{
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 100px;
	background:
	url("../img/business_consulting.png") center / auto no-repeat fixed,
	linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(70, 129, 252, 0) 100%);
	/* background: #284eca linear-gradient(90deg, red 0%, blue 50%, green 100%) center / 100px 100px no-repeat fixed; */
}


/* 1 частина ДЗ №9 */

.welcome-whitecollar{
	max-width: 673px;
	margin: 0px auto 20px;
	background-color: white;
	line-height: 1.46;
	border: 1px solid black; 
	padding: 0px 20px;
	/* padding і border прописані для покращення візуального сприйняття */
}
.we-care-block{
	margin-bottom: 20px;
}
.template-image {
	display: inline-block;
	font-weight: 500;
	background: url(../img/cube.png) 0px 5px no-repeat;
	padding-left: 18px;
	margin-bottom: 16px;
}
.welcome-title{
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
	max-width: 415px;
	max-height: 96px;
}
.text-p1{
	margin-bottom: 15px;
}

.template-image,
.welcome-title,
.list-type-title{
	text-transform: capitalize;
	color: #37393F;
	line-height: 1.21;
}
.list-small{
	margin-bottom: 43px;
}

.list-and-icons,
.list-small{
	max-width: 613px;
}
.sub-list-and-icons{
	margin-bottom: 37px;
	font-size: 0;
}

.block-list-and-icons{
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 3px;
	padding-left: 58px;
}

.sub-text-block{
	font-size: 16px;
	line-height: 1.35;
	padding-left: 58px;
}

.block-list-first{
	background: url("../img/icon-list.png") 37px 31px no-repeat;
	display: inline-block;
	max-width: 295px;
	max-height: 140px;
	padding: 31px 32px 32px 32px;
	border: 1px solid #E3E3E3;
	margin-right: 21px;
	font-size: 0;
}

.block-list-second{
	background: url("../img/icon-prize.png") 37px 31px no-repeat;
	display: inline-block;
	max-width: 295px;
	max-height: 140px;
	padding: 31px 35px 32px 35px;
	border: 1px solid #E3E3E3;
	font-size: 0;
	/* чому працює зменшення з 37 на 35? */
}

.list-type-1 p{
	margin-bottom: 23px;
}
.list-type-2 p{
	margin-bottom: 43px;
}
.list-type-1 p, .list-type-2 p{
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	background: url("../img/vector.png") 0 3px no-repeat;
	padding-left: 35px;
	line-height: 1.65;
}

.list-type-title {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 12px;
}

.list-type-1{
	margin-bottom: 31px;
}
.list-type-2{
	margin-bottom: 48px;
}
.list-and-icons a{
	display: inline-block;
	background: #6B77E5;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	line-height: 1.21;
	text-transform: capitalize;
	padding: 21px 27px 22px 27px;
}

/* 2 частина ДЗ №9-----------------------------------------------*/

.block-latest-projects{
	margin-bottom: 150px;
}
.latest-projects-container{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 20px;
	background: #FFF;
	font-size: 0;
}
.latest-projects-title{
	max-width: 852px;
	margin: 0 auto 47px;
	text-align: center;
}
.latest-projects-title h4 {
	background: url("../img/cube.png") 0 50% no-repeat;
	display: inline-block;
	padding-left: 18px;
	color: #37393F;
	font-weight: 500;
	line-height: 1.21;
	margin-bottom: 14px;
	font-size: 18px;
}
.latest-projects-title h2 {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 14px;
}
.latest-projects-title p {
	line-height: 1.46;
	font-size: 18px;
}
.image-first-block{
	margin-bottom: 58px;
}

.image-list {
	display: inline-block;
	max-width: 384px;
	width: 100%;
}

.image {
	min-height: 501px;
	max-width: 100%;
	margin-bottom: 24px;
}

.image-list a{
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 10px;
	text-transform: capitalize;
	display: inline-block;
}
.icon-calender{
	display: inline-block;
	color: #7D7D7D;
	font-size: 14px;
	line-height: 1.46;
	padding-left: 25px;
	background: url("../img/icon-calender.png") 0 50% no-repeat;
	min-width: 22px;
	width: 100%;
}
.image-first-photo,
.image-second-photo,
.image-fourth-photo,
.image-fifth-photo{
	margin-right: 34px;
}


.image-first-photo .image{
	background: url("../img/financial-investment.png") 50% / cover no-repeat;
}
.image-second-photo .image{
	background: url("../img/marketing-stategy.png") 50% / cover no-repeat;
}
.image-third-photo .image{
	background: url("../img/business-consulting.png") 50% / cover no-repeat;
}
.image-fourth-photo .image{
	background: url("../img/financial-investment2.png") 50% / cover no-repeat;
}
.image-fifth-photo .image{
	background: url("../img/web-development.png") 50% / cover no-repeat;
}
.image-sixth-photo .image{
	background: url("../img/finansial-investment3.png") 50% / cover no-repeat;
}

/* ДЗ №8 Частина 4*/

.we-made-block{
	background-color: #FFFFFF;
	max-width: 1280px;
	margin: 0 auto 50px;
	padding: 20px 20px;
	font-size: 0;
}
.we-made-container{
	border-radius: 10px;
}
.we-made-left-side{
	display: inline-block;
	min-width: 614px;
	min-height: 640px;
	width: 100px;
	padding: 183px 74px 175px 74px;
	/* padding: 100px 0px 100px 100px; */
	background: url("../img/main-photo-left.png") 50% / cover no-repeat;
}
.we-made-right-side{
	display: inline-block;
	min-width: 626px;
	min-height: 640px;
	width: 100px;
	vertical-align: top;
	background: url("../img/main-photo-right.png") 50% / cover no-repeat;
}
.we-made-left-side h3{
	color: #FFF;
	font-family: "Core Sans C", sans-serif ;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.47;
	letter-spacing: 0.208px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.we-made-left-side p{
	color: #FFF;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.21;
	letter-spacing: 1px;
	margin-bottom: 40px;
}
.we-made-left-side a{
	display: inline-block;
	border-radius: 8px;
	background: #FFF;
	padding: 12px 44px;
	color: #3C4242;
	text-align: center;
	font-family: "Causten", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.21;
	text-transform: capitalize;
}

/* 3 частина ДЗ №8 */

.clothing {
	max-width: 1240px;
	padding: 100px;
	margin: 0 auto 30px;
	background-color: #FFFFFF;
}

.clothing h3 {
	color: #3C4242;
	font-family: "Core Sans C", sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.56px;
	text-transform: capitalize;
	margin-bottom: 30px;
	background: url("../img/stick.png") no-repeat;
	padding-left: 15px;
}


.clothing h4,
.clothing p,
.text-clothing2,
.euphoria,
.hyper {
	font-size: 20px;
	color: #807D7E;
	letter-spacing: 0.4px;
}

.clothing h4,
.hyper {
	font-family: "Core Sans C", sans-serif;
	font-weight: 600;
	line-height: 1.67;
}

.clothing h4 {
	margin-bottom: 25px;
}

.clothing p,
.text-clothing2,
.euphoria {
	font-family: "Causten", sans-serif;
}

.clothing p{
	line-height: 1.67;
	margin-bottom: 20px;
}

.text-clothing2 {
	line-height: 1.67;
	margin-bottom: 25px;
}

.euphoria {
	font-weight: 700;
	line-height: 1.2;
}

/* Футер */

.footer{
	max-height: 300px;
	max-width: 300px;
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(178, 252, 70, 0.03974089635854339) 100%);
	margin: 0 auto;
	text-align: center;
	padding: 2%;
	border-radius: 50%;
}
.footer a{
	font-size: 24px;
	font-weight: 800;
	color: #284eca;
}
